body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
}

.second {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;

}

.secondcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

img {
    height: 150px;
    width: 300px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    gap: 16px;
    display: flex;
}

.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondarytext {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882F6 ;

}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e5e7eb;
}
