body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
}

.second {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    

}

.secondcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 150px ;
    flex: 1 1 0px;

}

.imageplaceholder {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
    height: 250px;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    gap: 16px;
    display: flex;
}

.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondarytext {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882F6 ;
    border-radius: 8px;
    border:none;
    padding: 8px;
    width: 20%;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e5e7eb;
}

.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    gap: 45px;
    

}

.card {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cardbox {
    border: 3px solid #3882F6;
    color: #1F2937;
    border-radius: 5%;
    width: 150px;
    height: 150px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 45px 300px;
    padding-bottom: 100px;
    gap: 40px;
}

.cardsubtext {
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 150px 350px;
    gap: 8px;
}

.quotetext {
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    flex-wrap: wrap;
    color: #1F2937;
}

.signature {
    font-size: 24px;
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;

}

.ctabox {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 125px;
    width: 100%;
    justify-content: space-between;
    
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.ctacontents {
    display: flex;
    flex-direction: column;

}

.ctabutton {
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 20px;

}
